---
import CatalogueFilters from "./CatalogueFilters.astro"
import CatalogueMeta from "./CatalogueMeta.astro"
import CatalogueLoadingBlock from "./CatalogueLoadingBlock.astro"
---

<CatalogueFilters />

<div id="catalogue">
  <CatalogueMeta />
  <div id="catalogueContent" class="flex gap-[0.88975rem] flex-wrap mb-2">
    {Array.from({ length: 30 }, () => <CatalogueLoadingBlock />)}
  </div>
  <CatalogueMeta />
</div>

<script>
  import "../../assets/scripts/catalogue.ts"
</script>
