---

---

<div class="mb-4 w-[calc(50%-1rem)] sm:w-[calc(20%-1rem)]">
  <div class="mb-2 aspect-[3/4.3] h-auto animate-pulse bg-dark-subtle-text dark:bg-dark-skeleton">
  </div>
  <div class="m-0 h-6 animate-pulse bg-dark-subtle-text leading-tight dark:bg-dark-skeleton"></div>
  <div
    class="m-0 mb-2 h-4 w-4/5 animate-pulse bg-dark-subtle-text leading-tight dark:bg-dark-skeleton"
  >
  </div>
  <div class="h-[0.875rem] w-11/12 animate-pulse bg-dark-subtle-text dark:bg-dark-skeleton"></div>
</div>
