---
import BaseLayout from "$layouts/BaseLayout.astro"
import ArticlePreview from "$components/ArticlePreview.astro"
import { postProcessArticle } from "$data/articles"

export async function getStaticPaths({ paginate }) {
  let articles = await Astro.fetchContent("../../../../content/articles/**/*.md")
  articles = articles
    .map((article) => postProcessArticle(article))
    .sort((a, b) => {
      return b.date.getTime() - a.date.getTime()
    })

  const tagList = new Array()
  articles.forEach((article) => {
    tagList.push(...article.tags)
  })

  return tagList.map((tag) => {
    const filteredArticles = articles.filter((article) => article.tags.includes(tag))
    return paginate(filteredArticles, { params: { tag }, pageSize: 6 })
  })
}

const { page } = Astro.props
---

<BaseLayout title="Articles">
  <article class="w-articleList mx-auto flex flex-col md:flex-row">
    <div class="sm:w-[80%]">
      <h2>Articles</h2>
      {page.data.map((item) => <ArticlePreview article={item} />)}
      <div>
        {page.url.prev && <a href={page.url.prev}>Newer posts</a>}
        {page.url.next && <a class="float-right" href={page.url.next}>
            Older posts
          </a>}
      </div>
    </div>

    <aside class="sm:w-[20%]">
      <section>
        <h2>Tags</h2>
        <ul></ul>
      </section>
      <section>
        <h2>Year</h2>
      </section>
    </aside>
  </article>
</BaseLayout>
