@tailwind base;
@tailwind components;
@tailwind utilities;

code,
pre {
  font-family: "Iosevka", monospace;
  background-color: #212121;
  border-radius: 4px;
  line-height: 1.3;
  color: #f5f5f5;
}

.post > pre {
  padding: 1em;
  margin: 1.5em auto;
  vertical-align: middle;
  overflow-x: auto;
  font-size: 17px;
}

.post code {
  padding: 0.08em 0.3em;
  word-break: break-word;
}

.post code::before {
  content: none;
}

.post pre > code {
  padding: 0;
}

@font-face {
  font-family: "Anuphan";
  font-weight: 1 900;
  font-display: optional;
  src: url("/assets/fonts/anuphan.woff2") format("woff2"),
    url("/assets/fonts/anuphan.woff") format("woff");
}

@font-face {
  font-family: "fallback-arial";
  size-adjust: 101.55%;
  ascent-override: 100%;
  descent-override: normal;
  line-gap-override: normal;
  src: local("Arial");
}
