@tailwind base;
@tailwind components;
@tailwind utilities;

code,
pre {
  font-family: "Iosevka", monospace;
  background-color: #212121;
  border-radius: 4px;
  line-height: 1.3;
  color: #F5F5F5;
}

.post > pre {
  padding: 1em;
  margin: 1.5em auto;
  vertical-align: middle;
  overflow-x: auto;
  font-size: 17px;
}

.post code {
  padding: 0.08em 0.3em;
}

.post code::before {
  content: none;
}

.post pre > code {
  padding: 0;
}

@font-face {
  font-family: "Anuphan";
  font-weight: 1 900;
  font-display: swap;
  src: url("/assets/fonts/anuphan.woff2") format('woff2');
}
