@tailwind base;
@tailwind components;
@tailwind utilities;

code,
pre {
  font-family: "Iosevka", monospace;
  background-color: #212121;
  border-radius: 4px;
  line-height: 1.3;
}

.post > pre {
  padding: 1em;
  margin: 1.5em auto;
  max-width: min(960px, 100%);
  vertical-align: middle;
  overflow-x: auto;
  font-size: 17px;
}

.post code {
  padding: 0.08em 0.3em;
}

.post code::before {
  content: none;
}

.post pre > code {
  padding: 0;
}

@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cantarell"), url("/assets/fonts/cantarell-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/cantarell-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cantarell";
  font-weight: 700;
  font-display: swap;
  src: local("Cantarell"), url("/assets/fonts/cantarell-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/cantarell-bold-webfont.woff") format("woff");
}
