---
import BaseLayout from "$layouts/BaseLayout.astro"
---

<BaseLayout>
  <article class="post">
    <h1>Settings</h1>

    <p>Trying to make it feel more like home, eh?</p>

    <div>
      <input type="checkbox" id="cb--prefetch" />
      <label for="cb--prefetch">
        Disable page prefetch (using <a href="https://getquick.link/">Quicklink</a>)
      </label><br />
    </div>
  </article>

  <script>
    ;(function () {
      const disablePrefetch = document.getElementById("cb--prefetch") as HTMLInputElement | null
      if (disablePrefetch) {
        disablePrefetch.checked = localStorage.getItem("prefetchDisabled") == "true"

        disablePrefetch.addEventListener("change", () => {
          localStorage.setItem("prefetchDisabled", disablePrefetch.checked ? "true" : "false")
        })
      }
    })()
  </script>
</BaseLayout>
