---
import { getURLFromEntry, readableDate } from "$utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

interface Props {
	article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
---

<section
	class:list={[
		article.data.featured
			? "bg-orange-carrot/[.080]"
			: "border border-solid border-accent-valencia/10",
		"group absolute mb-3 w-full break-inside-avoid hyphens-auto p-6 focus-within:bg-accent-valencia focus-within:text-white-sugar-cane hover:bg-accent-valencia hover:text-white-sugar-cane sm:hyphens-none",
	]}
>
	<a href={getURLFromEntry(article)} class="flex flex-col gap-y-1">
		<h2
			class:list={[
				article.data.featured ? "text-4.5xl leading-none" : "text-3xl leading-somewhat-tight",
				"m-0 p-0 tracking-somewhat-tight text-accent-valencia group-focus-within:text-white-sugar-cane group-hover:text-white-sugar-cane",
			]}
		>
			{article.data.title}
			{
				article.data.draft && (
					<span class="rounded-md bg-orange-carrot p-1 align-middle text-sm font-bold text-black-charcoal">
						Draft
					</span>
				)
			}
		</h2>

		<span
			class="pb-1 pt-1 font-medium leading-tight text-black-charcoal group-focus-within:text-white-sugar-cane group-hover:text-white-sugar-cane"
			>{article.data.tagline ?? null}</span
		>
	</a>
	<section class="text-sm">
		{readableDate(article.data.date)}
		<Tags tags={article.data.tags} />
	</section>
</section>
