---
import { readableDate } from "$utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  item: CollectionEntry<"blog"> | CollectionEntry<"projects"> | CollectionEntry<"wiki">;
  includeTags: boolean;
}

const isArticle = (item: Props["item"]): item is CollectionEntry<"blog"> => {
  return item.data.type === "blog";
};

const { item, includeTags } = Astro.props;
---

<header class="mb-4 mt-0">
  <h1 class="mb-4 mt-0 text-4xl leading-none sm:text-[3.5rem]">
    {item.data.title}
  </h1>
  {item.data.tagline && <h2 class="relative top-[-5px] m-0 text-xl">{item.data.tagline}</h2>}
  {
    isArticle(item) && includeTags && (
      <div class="text-creative-work dark:text-dark-subtle-text">
        {readableDate(item.data.date)} ·{" "}
        {item.data.tags
          .map((tag) => <a href={"/articles/tags/" + tag + "/"}>{tag}</a>)
          .reduce((prev: string, curr: string) => (prev === null ? [curr] : [prev, ", ", curr]))}
      </div>
    )
  }
</header>
