---
import { readableDate } from "$utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

interface Props {
	item: CollectionEntry<"blog"> | CollectionEntry<"projects"> | CollectionEntry<"wiki">;
	includeTags: boolean;
}

const isArticle = (item: Props["item"]): item is CollectionEntry<"blog"> => {
	return item.data.type === "blog";
};

const { item, includeTags } = Astro.props;
---

<header class="">
	<h1 class="">
		{item.data.title}
	</h1>
	{item.data.tagline && <h2 class="">{item.data.tagline}</h2>}
	{
		isArticle(item) && includeTags && (
			<div class="">
				{readableDate(item.data.date)}
				<Tags tags={item.data.tags} />
			</div>
		)
	}
</header>
