---
interface Props {
	tags: string[];
	accentBackground?: boolean;
}

const { tags, accentBackground } = Astro.props;

const hasTags = tags.length > 0;
---

{
	hasTags && (
		<>
			·
			<>
				{tags
					.map((tag) => (
						<a
							class:list={[
								accentBackground
									? "text-white-sugar-cane hover:bg-white-sugar-cane hover:text-accent-valencia"
									: "text-accent-valencia hover:bg-accent-valencia hover:text-white-sugar-cane",
								"hover:group-hover:text-val font-[450] group-focus-within:text-white-sugar-cane focus:group-focus-within:text-black-charcoal group-hover:text-white-sugar-cane hover:group-hover:bg-white-sugar-cane hover:group-hover:text-accent-valencia",
							]}
							href={"/articles/tags/" + tag + "/"}
						>
							{tag}
						</a>
					))
					.reduce((prev: string | null, curr: string) => (!prev ? [curr] : [prev, ", ", curr]))}
			</>
		</>
	)
}
