---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;

const hasTags = tags.length > 0;
---

{
	hasTags && (
		<>
			·
			<>
				{tags
					.map((tag) => (
						<a
							class="text-accent-valencia hover:bg-accent-valencia hover:text-white-sugar-cane group-focus-within:text-white-sugar-cane focus:group-focus-within:text-black-charcoal group-hover:text-white-sugar-cane hover:group-hover:text-black-charcoal"
							href={"/articles/tags/" + tag + "/"}
						>
							{tag}
						</a>
					))
					.reduce((prev: string | null, curr: string) => (!prev ? [curr] : [prev, ", ", curr]))}
			</>
		</>
	)
}
