---
import { blogFilter } from "$utils";
import { getCollection } from "astro:content";

const articles = await getCollection("blog");
const tags: [string, number][] = [
	...articles
		.filter(blogFilter)
		.flatMap((article) => [...article.data.tags])
		.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
].sort((a, b) => {
	return b[1] - a[1];
});

const years: [string, number][] = [
	...articles
		.filter(blogFilter)
		.map((article) => new Date(article.data.date).getUTCFullYear())
		.reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
].sort((a, b) => {
	return b[0] - a[0];
});
---

<aside class="">
	<section>
		<h2 class="">Tags</h2>
		<ul class="">
			{
				tags.map((tag) => (
					<li>
						<a href={"/articles/tags/" + tag[0] + "/"}>{tag[0]}</a>&nbsp;({tag[1]})
					</li>
				))
			}
		</ul>
	</section>
	<section>
		<h2 class="">Year</h2>
		<ul class="">
			{
				years.map((year) => (
					<li>
						<a href={"/articles/years/" + year[0] + "/"}>{year[0]}</a>&nbsp;({year[1]})
					</li>
				))
			}
		</ul>
	</section>
</aside>
