---
import type { Article } from "$data/articles";

const articles = await Astro.glob<Article>("/content/articles/**/*.mdx");
const tags: Array<[string, number]> = [
  ...articles
    .flatMap((article) => [...article.frontmatter.tags])
    .reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
].sort((a, b) => {
  return b[1] - a[1];
});

const years: Array<[string, number]> = [
  ...articles
    .map((article) => new Date(article.frontmatter.date).getUTCFullYear())
    .reduce((acc, e) => acc.set(e, (acc.get(e) || 0) + 1), new Map()),
].sort((a, b) => {
  return b[0] - a[0];
});
---

<aside class="sm:w-[20%]">
  <section>
    <h2 class="mb-3">Tags</h2>
    <ul class="list-none m-0 p-0">
      {
        tags.map((tag) => (
          <li>
            <a href={"/articles/tags/" + tag[0] + "/"}>{tag[0]}</a> ({tag[1]})
          </li>
        ))
      }
    </ul>
  </section>
  <section>
    <h2 class="mb-3">Year</h2>
    <ul class="list-none m-0 p-0">
      {
        years.map((year) => (
          <li>
            <a href={"/articles/years/" + year[0] + "/"}>{year[0]}</a> ({year[1]})
          </li>
        ))
      }
    </ul>
  </section>
</aside>
