---
interface Props {
	block?: boolean;
	title?: string;
}

const { title, block } = Astro.props;
---

{
	block ? (
		<div class="">
			<span class="">{title}</span>
			<slot />
		</div>
	) : (
		<blockquote>
			<slot />
		</blockquote>
	)
}
