---
import type { ImageMetadata } from "astro";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import BaseImage from "../Image.astro";

type Props = Omit<ComponentProps<typeof BaseImage>, "src" | "slot" | "title"> & {
	src: ImageMetadata;
	figureProps?: HTMLAttributes<"figure">;
};

let { src, alt, figureProps, ...props } = Astro.props;
const caption = (await Astro.slots.render("default")).trim();
---

<figure {...figureProps ?? {}}>
	<a href={src.src}>
		<BaseImage src={src} alt={alt} {...props} />
	</a>
	{caption.length > 0 && <figcaption set:html={caption} />}
</figure>
