---

---

<span class="absolute left-0 inline-block h-0 w-full">
	<some-thing
		class="relative inline-block w-[30%] text-sm sm:left-[calc(100%+1rem)] xl:left-[calc(100%+2rem)]"
		><slot /></some-thing
	>
</span>
