---

---

<span
	class="left-0 mb-6 mt-4 inline-block w-full italic sm:absolute sm:mb-0 sm:mt-0 sm:h-0 sm:not-italic"
>
	<some-thing
		class="relative inline-block text-sm sm:left-[calc(100%+1rem)] sm:w-[30%] xl:left-[calc(100%+2rem)]"
		><slot /></some-thing
	>
</span>
