---

---

<span
	class="left-0 mb-6 mt-4 inline-block w-full italic md:absolute md:mb-0 md:mt-0 md:h-0 md:not-italic"
>
	<some-thing
		class="relative inline-block md:left-[calc(100%+1rem)] md:w-[30%] md:text-sm xl:left-[calc(100%+2rem)]"
		><slot /></some-thing
	>
</span>
