---
import { Sprite } from "astro-icon";

const iconSize = "24";
---

<div
	id="dark-mode-toggler"
	class="h-[24px] select-none hover:cursor-pointer hover:text-pinky-unicorny"
>
	<Sprite name="moon" size={iconSize} id="dark-moon" class="hidden" title="Dark" />
	<Sprite name="sun" size={iconSize} id="light-sun" class="hidden" title="Light" />
	<Sprite name="system" size={iconSize} id="system-computer" class="hidden" title="Auto" />
</div>

<script>
	const darkModeToggler = document.getElementById("dark-mode-toggler") as HTMLDivElement;
	const darkMoon = document.getElementById("dark-moon");
	const lightSun = document.getElementById("light-sun");
	const systemComputer = document.getElementById("system-computer");

	type Theme = "dark" | "light" | "system";

	function getCurrentTheme(): Theme {
		const theme = localStorage.getItem("theme");
		if (!theme) {
			return "system";
		}

		return theme as Theme;
	}

	const isSystemDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

	function adjustIconForTheme(theme: Theme) {
		if (theme === "light") {
			darkMoon?.classList.add("hidden");
			lightSun?.classList.remove("hidden");
			systemComputer?.classList.add("hidden");
		} else if (theme === "dark") {
			darkMoon?.classList.remove("hidden");
			lightSun?.classList.add("hidden");
			systemComputer?.classList.add("hidden");
		} else {
			darkMoon?.classList.add("hidden");
			lightSun?.classList.add("hidden");
			systemComputer?.classList.remove("hidden");
		}
	}

	if (darkModeToggler) {
		const theme = getCurrentTheme();
		adjustIconForTheme(theme);

		darkModeToggler.addEventListener("click", () => {
			const theme = getCurrentTheme();
			if (theme === "dark") {
				localStorage.setItem("theme", "light");
				document.documentElement.classList.remove("dark");
			} else if (theme === "light") {
				localStorage.setItem("theme", "system");
				if (isSystemDark) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
			} else {
				localStorage.setItem("theme", "dark");
				document.documentElement.classList.add("dark");
			}
			adjustIconForTheme(getCurrentTheme());
		});
	}
</script>
