---
import Icon from "$components/Icon.astro";
---

<button id="go-up" class="opacity-0"><Icon name="arrow-up" size={28} title="" /></button>

<script></script>

<style>
	button {
		border: none;
		margin: 0;
		padding: 0;
		width: auto;
		overflow: visible;

		background: transparent;

		/* inherit font & color from ancestor */
		color: inherit;
		font: inherit;

		/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
		line-height: normal;

		/* Corrects font smoothing for webkit */
		-webkit-font-smoothing: inherit;
		-moz-osx-font-smoothing: inherit;

		/* Corrects inability to style clickable `input` types in iOS */
		-webkit-appearance: none;

		@apply fixed bottom-0 right-0 m-6 hidden transition-all duration-300 ease-in-out hover:cursor-pointer hover:text-dark-pinky-unicorny hover:opacity-100 sm:block print:hidden;
	}
</style>

<script>
	const app = document.getElementById("app");
	const goUp = document.getElementById("go-up");

	if (app && goUp) {
		goUp.addEventListener("click", () => {
			window.scrollTo({ top: 0, behavior: "smooth" });
		});

		window.addEventListener("scroll", () => {
			if (window.scrollY > 500) {
				goUp.inert = false;
				goUp.className = "opacity-35";
			} else {
				goUp.inert = true;
				goUp.className = "opacity-0";
			}
		});
	}
</script>
