---
import Dinkus from "$components/content/Dinkus.astro";
import { randomArrayEntry } from "$utils";

const ponctuation = randomArrayEntry(["", "", "", "", "", "", "", "", "", ".", "!", "!"]);
---

<h1 class="">
	<a
		class="ml-2 text-4xl font-medium text-inherit no-underline hover:fill-accent-valencia hover:text-accent-valencia"
		href="/"><Dinkus classes="align-sub mr-2" />erika{ponctuation}</a
	>
</h1>
