---
import Dinkus from "$components/content/Dinkus.astro";
import { randomArrayEntry } from "$utils";

const ponctuation = randomArrayEntry(["", "", "", "", "", "", "", "", "", ".", "!", "!"]);
---

<h1 class="">
	<Dinkus classes="align-sub" /><a
		class="ml-2 text-4xl font-medium text-inherit no-underline hover:text-accent-valencia hover:underline"
		href="/">erika{ponctuation}</a
	>
</h1>
