---
import { randomArrayEntry } from "$utils";

const title = Math.random() > 0.1 || Astro.url.pathname === "/" ? "erika" : "Erika";
const ponctuation = randomArrayEntry(["", "", "", "", "", "", "", "", "", ";", ".", "!", "!"]);
---

<h1 class="m-0 inline-block text-2xl">
	<a class={`font-medium text-inherit dark:text-inherit no-underline`} href="/"
		>{title}{ponctuation}</a
	>
</h1>
