---
import { Sprite } from "astro-icon";
---

<div id="mobile-menu-toggle" class="flex items-center sm:hidden">
  <Sprite name="menu" size="28px" />
</div>

<script>
  const mobileMenuToggle = document.getElementById("mobile-menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const body = document.body;

  if (mobileMenu && mobileMenuToggle) {
    mobileMenuToggle.addEventListener("click", () => {
      mobileMenu.toggleAttribute("inert");
      mobileMenu.classList.toggle("w-full");
      body.classList.toggle("overflow-hidden");
    });
  }
</script>
