---
import { headerMenu } from "$data/sidebarMenu";
---

<div class="mx-auto flex max-w-full flex-wrap justify-evenly gap-y-4 sm:hidden">
	{
		headerMenu.map((item) => (
			<a href={`/${item}`} class="button-style-bg-accent p-2 text-lg">
				{item}
			</a>
		))
	}
</div>
