---
import { headerMenu as globalMenu } from "$data/sidebarMenu";
import Socials from "./Socials.astro";

const url = new URL(Astro.request.url);
---

<div
  inert
  id="mobile-menu"
  class="fixed top-16 h-[calc(100%-4rem)] w-0 overflow-y-auto overflow-x-hidden whitespace-nowrap bg-baltic-sea"
>
  <nav class="flex flex-col gap-4 p-3" aria-label="Mobile menu">
    {/* Global header menu */}
    {
      globalMenu.map((item) => (
        <a
          class="header-link mr-0 bg-fin-lanka p-3 text-xl"
          href={`/${item.toLowerCase()}/`}
        >
          {item}
        </a>
      ))
    }
  </nav>

  <Socials classes="mt-4 justify-center gap-7 mb-8" size={45} />
</div>
