---
import { headerMenu as mainMenu, processNavMenu, type MenuItem } from "$data/sidebarMenu";

interface Props {
	navMenu: MenuItem[];
}

const { navMenu } = Astro.props;
const processedNavMenu = processNavMenu(navMenu);
---

<div class="fixed -right-px top-0 flex h-full w-0 transition-[width]">
	<div id="empty-area" class=""></div>
	<div class="">
		<nav aria-label="Mobile Menu - In page navigation" class="">
			{
				[...mainMenu.concat().reverse(), "Home"].map((item) => (
					<a class="" href={`/${item === "Home" ? "" : item.toLowerCase() + "/"}`}>
						{item}
					</a>
				))
			}
		</nav>

		{processedNavMenu.length > 0 && <hr class="" />}

		<nav aria-label="Mobile Menu - General navigation">
			{
				processedNavMenu.flatMap((navItem) => (
					<ul class="">
						<h3 class="">{navItem.heading}</h3>
						{navItem.children.map((child) => (
							<li>
								<a href={child.link}>{child.label}</a>
							</li>
						))}
					</ul>
				))
			}
		</nav>
	</div>
</div>

<script>
	const emptyArea = document.getElementById("empty-area");
	const mobileMenu = document.getElementById("mobile-menu");
	const body = document.body;

	if (emptyArea && mobileMenu) {
		emptyArea.addEventListener("click", () => {
			mobileMenu.classList.toggle("w-full");
			body.classList.toggle("overflow-hidden");
		});
	}
</script>
