---
import Icon from "$components/Icon.astro";
import Logo from "./Logo.astro";
---

<div
	class="bg-mobile-menu text-isabelline fixed bottom-0 flex h-12 w-full items-center justify-between px-3 sm:hidden"
>
	<Logo />

	<div id="mobile-side-toggle" class="">
		<Icon name="menu" size={28} title="Toggle mobile menu" />
	</div>
</div>

<script>
	const mobileMenuToggle = document.getElementById("mobile-side-toggle");
	const mobileMenu = document.getElementById("mobile-menu");
	const body = document.body;

	if (mobileMenu && mobileMenuToggle) {
		mobileMenuToggle.addEventListener("click", () => {
			mobileMenu.classList.toggle("w-full");
			body.classList.toggle("overflow-hidden");
		});
	}
</script>
