---
import { headerMenu } from "$data/sidebarMenu";
---

<div class="mt-4 flex max-w-full flex-wrap gap-x-4">
	{
		headerMenu.map((item) => (
			<a
				href={`/${item}`}
				class="bg-accent-valencia p-2 text-lg font-semibold text-white-sugar-cane"
			>
				{item}
			</a>
		))
	}
</div>
