---
import { Sprite } from "astro-icon"

const { classes } = Astro.props
---

<div class={"flex items-center" + (classes ? " " + classes : "")}>
  <a
    href="https://twitter.com/_princesseuh"
    title="Link to my Twitter profile"
    class="social-icon social-twitter"
  >
    <Sprite name="twitter" size="26px" />
  </a>

  <a
    href="https://github.com/Princesseuh"
    title="Link to my GitHub profile"
    class="social-icon social-other"
  >
    <Sprite name="github" size="26px" />
  </a>

  <a
    href="mailto:princssdev@gmail.com"
    title="Link to email me"
    class="social-icon social-other mr-0"
  >
    <Sprite name="mail" size="26px" />
  </a>
</div>
