---
import { Sprite } from "astro-icon"

export interface Props {
  classes?: string
  size?: number
}

let { classes, size } = Astro.props

if (!size) {
  size = 26
}
---

<div class={"flex items-center" + (classes ? " " + classes : "")}>
  <a
    href="https://twitter.com/_princesseuh"
    title="Link to my Twitter profile"
    class="social-icon social-twitter"
  >
    <Sprite name="twitter" size={`${size}px`} />
  </a>

  <a
    href="https://github.com/Princesseuh"
    title="Link to my GitHub profile"
    class="social-icon social-other"
  >
    <Sprite name="github" size={`${size}px`} />
  </a>

  <a href="mailto:princesseuh@pm.me" title="Link to email me" class="social-icon social-other mr-0">
    <Sprite name="mail" size={`${size}px`} />
  </a>
</div>
