---
import Icon from "$components/Icon.astro";

interface Props {
	classes?: string;
	size?: number;
}

let { classes, size } = Astro.props;

if (!size) {
	size = 26;
}
---

<div class={"flex items-center" + (classes ? " " + classes : "")}>
	<a rel="me" href="https://m.webtoo.ls/@erika" title="Link to my Mastodon profile" class="">
		<Icon name="mastodon" size={size} title="Mastodon" />
	</a>

	<a href="https://github.com/Princesseuh" title="Link to my GitHub profile" class="">
		<Icon name="github" size={size} title="GitHub" />
	</a>

	<a href="mailto:contact@erika.florist" title="Link to email me" class="">
		<Icon name="mail" size={size} title="Mail" />
	</a>
</div>
