---
import BaseLayout from "$layouts/BaseLayout.astro"
---

<BaseLayout>
  <article class="w-index mx-auto mt-2 sm:mt-6 text-center">
    <div class="text-3xl">404</div>
    <p>This page does not exist</p>

    <p>
      If you believe that it should, please <a
        href="https://github.com/Princesseuh/princesseuh.dev/issues"
        >create an issue
      </a>!
    </p>

    <a href="/">Click here to go back to the home page</a>
  </article>
</BaseLayout>
