---
import Dinkus from "$components/content/Dinkus.astro";
import BaseLayout from "$layouts/BaseLayout.astro";

// Trying to use the database in this file will cause it to be done early, so that we can exit early once we're done seeding.
if (import.meta.env.PROD) {
	const { db, Catalogue } = await import("astro:db");
	await db.select().from(Catalogue).limit(1);
}
---

<BaseLayout>
	<article class="flex justify-around p-24">
		<div class="flex flex-col justify-around">
			<h2 class="m-0 text-7xl">404</h2>

			<section>
				<p>
					This page does not exist.<br />If you believe that it should, please <a
						href="https://github.com/Princesseuh/erika.florist/issues">create an issue</a
					>!
				</p>

				<a href="/" class="button-style-bg-accent">Click here to go back to the home page</a>
			</section>
		</div>
		<Dinkus classes="w-56 h-56 fill-accent-valencia" />
	</article>
</BaseLayout>
