---
import CatalogueCore from "$components/catalogue/Core.astro";
import BaseLayout from "$layouts/BaseLayout.astro";

// In prod Astro doesn't seed until the first request, but since we don't have any requests
// in the build process, we'll simulate a request so the database is seeded.
if (import.meta.env.PROD) {
	const { db, Catalogue } = await import("astro:db");
	await db.select().from(Catalogue).limit(1);
}
---

<BaseLayout preloadCatalogue>
	<article class="">
		<h2 class="">Catalogue</h2>
		<div class="">
			This page lists games, books, shows... you know, things, I've watched, played, read, listened
			to. Each entry includes a description and some metadata. Below are some filters you can use.
		</div>
		<CatalogueCore />
	</article>
</BaseLayout>
