---
import CatalogueCore from "$components/Catalogue.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
---

<BaseLayout>
  {/* TODO: Build a server side version of this */}
  <article class="w-index">
    <h2 class="mt-0">Catalogue</h2>
    <div class="mb-4">
      This page lists games, books, shows... you know, things, I've watched, played, read, listened
      to. Each entry includes a description and some metadata. Below are some filters you can use.
    </div>
    <CatalogueCore />
  </article>
</BaseLayout>
