---
import BaseLayout from "$layouts/BaseLayout.astro"
import Catalogue from "$components/Catalogue.astro"
---

<BaseLayout>
  <article class="w-wiki mx-auto mt-4 sm:mt-6 px-6 sm:px-0">
    <p class="w-index mx-auto">
      Welcome to my catalogue! This page contains (mostly) all the pieces of media I've played,
      watched and read these past years. Every item has its own page you can visit by clicking on
      its cover. Have fun browsing around!
    </p>

    <Catalogue />
  </article>
</BaseLayout>
