---
import CatalogueCore from "$components/catalogue/Core.astro";
import { createDatabase } from "$data/catalogue_database";
import BaseLayout from "$layouts/BaseLayout.astro";

if (import.meta.env.PROD) await createDatabase();
---

<BaseLayout preloadCatalogue>
	<article class="w-index">
		<h2 class="mt-0">Catalogue</h2>
		<div class="mb-4">
			This page lists games, books, shows... you know, things, I've watched, played, read, listened
			to. Each entry includes a description and some metadata. Below are some filters you can use.
		</div>
		<CatalogueCore />
	</article>
</BaseLayout>
