---
import CatalogueCore from "$components/Catalogue.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
---

<BaseLayout>
  {/* TODO: Build a service side version of this */}
  <article class="mx-auto mt-4 w-index sm:mt-6">
    <div class="mb-4">
      This page lists games, books, shows... you know, things, I've watched,
      played, read, listened to. Each entry includes a description and some
      metadata. Below are some filters you can use.
    </div>
    <CatalogueCore />
  </article>
</BaseLayout>
