---
import Image from "$components/Image.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import { getURLFromEntry } from "$utils";
import { CollectionEntry, getCollection } from "astro:content";

const projects = await getCollection("projects");

enum ProjectType {
  GAME = "game",
  WEBSITE = "site",
  SOFTWARE = "software",
}

type ProjectList = {
  [projectType in ProjectType]?: CollectionEntry<"projects">[];
};

const projectsPerType: ProjectList = {};
Object.values(ProjectType).forEach((projectType) => {
  projectsPerType[projectType] = projects.filter(
    (project) => project.data.projectType === projectType,
  );
});

// Utils
const readableTitles = {
  game: "Games",
  site: "Websites",
  software: "Softwares and libraries",
} as const;
---

<BaseLayout title="Projects">
  <article class="mx-auto mt-4 w-index sm:mt-6">
    <h2>Projects</h2>

    <p>
      A list of my projects, it isn't necessarily exhaustive and mostly contain the projects I'm the
      most proud of.
    </p>
    <p>
      Additionally, projects marked with a star (🌟) are featured projects I'm even more proud of!
      Projects marked with a chain (🔗) will be opened on another website (for instance, their
      GitHub repo)
    </p>

    To see more projects, feel free to visit my <a href="https://github.com/Princesseuh">GitHub</a> or
    for games especially, my <a href="https://princesseuh.itch.io/">Itch.io</a>

    {
      Object.entries(projectsPerType)
        .filter((type) => type[1].length > 0)
        .map((type) => (
          <div>
            <h3>{readableTitles[type[0] as keyof typeof readableTitles]}</h3>
            <div class="flex flex-col flex-wrap sm:flex-row lg:gap-4">
              {type[1].map((project) => (
                <a
                  href={
                    project.data.external_url ? project.data.external_url : getURLFromEntry(project)
                  }
                  class={
                    project.data.featured
                      ? "project-featured project-box max-w-full sm:max-w-[50%]"
                      : "project-box max-w-full sm:max-w-[50%]"
                  }
                >
                  {project.data.featured && (
                    <span
                      class="absolute right-2 top-1 h-5 w-5 fill-current"
                      title="Featured project"
                    >
                      🌟
                    </span>
                  )}
                  {project.data.external_url && (
                    <span
                      class="absolute right-2 top-1 h-5 w-5 fill-current"
                      title="Project is hosted on an external website"
                    >
                      🔗
                    </span>
                  )}
                  <Image
                    src={project.data.miniLogo}
                    alt={project.data.miniLogoAlt ?? ""}
                    imageWidth={72}
                    width={48}
                    height={48}
                    class="mr-4"
                  />
                  <div>
                    <h4 class="m-0 block font-bold">{project.data.title}</h4>
                    <span class="text-sm text-creative-work">{project.data.tagline}</span>
                  </div>
                </a>
              ))}
            </div>
          </div>
        ))
    }
  </article>
</BaseLayout>
