---
import SideBar from "../components/shared/SideBar.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app" class="grid grid-cols-main">
      <SideBar />

      <main class="p-8 dark:bg-gray-800">Hello</main>
    </div>
  </body>
</html>
