---
import { getWikiItemsByCategory } from "$data/wiki";
import { wikiCategories, WikiCategory } from "$data/wikiCategories";
import { getURLFromEntry } from "$utils";
import { CollectionEntry, getCollection } from "astro:content";

const wikiItems = await getCollection("wiki");
const url = new URL(Astro.request.url);
---

<ul class="wiki-navigation m-0 hidden list-none p-0 sm:block">
  {
    wikiCategories.map((category: WikiCategory) => (
      <li>
        <span class="block font-bold text-sugar-cane">{category.title}</span>
        {getWikiItemsByCategory(wikiItems, category.key).map((item: CollectionEntry<"wiki">) => (
          <a
            class={`block ${
              url.pathname == getURLFromEntry(item) ? "font-bold text-pinky-unicorny" : ""
            }`}
            href={getURLFromEntry(item)}
          >
            {item.data.navigation.label || item.data.title}
          </a>
        ))}
      </li>
    ))
  }
</ul>
