---
import { getWikiItemsByCategory, WikiItem, postProcessWikiItem } from "$data/wiki.ts"
import { wikiCategories, WikiCategory } from "$data/wikiCategories.ts"

let wikiItems = await Astro.fetchContent("/content/wiki/**/*.md")
wikiItems = wikiItems.map((item) => postProcessWikiItem(item))

const { url } = Astro.request
---

<ul class="m-0 list-none p-0 wiki-navigation hidden sm:block">
  {wikiCategories.map((category: WikiCategory) => (
    <li>
      <span class="block font-bold text-sugar-cane">{category.title}</span>
      {getWikiItemsByCategory(wikiItems, category.key).map((item: WikiItem) => (
        <a
          class={`block ${
            url.pathname == item.url.pathname ? "text-pinky-unicorny font-bold" : ""
          }`}
          href={item.url.pathname}
        >
          {item.navigation.label || item.title}
        </a>
      ))}
    </li>
  ))}
</ul>
