---
import { getWikiItemsByCategory, WikiItem, postProcessWikiItem } from "$data/wiki"
import { wikiCategories, WikiCategory } from "$data/wikiCategories"
import { MarkdownInstance } from "$data/shared"

// HACK: If we directly use MarkdownInstance<WikiItem>, Astro fails with a weird error
type WikiItemInstance = MarkdownInstance<WikiItem>

let wikiItems = await Astro.glob<WikiItem>("/content/wiki/**/*.md")
wikiItems = wikiItems.map((item) => {
  item.frontmatter = postProcessWikiItem(item.frontmatter, item.file)
  return item
})

const url = Astro.request.url
---

<ul class="m-0 list-none p-0 wiki-navigation hidden sm:block">
  {wikiCategories.map((category: WikiCategory) => (
    <li>
      <span class="block font-bold text-sugar-cane">{category.title}</span>
      {getWikiItemsByCategory(wikiItems, category.key).map((item: WikiItemInstance) => (
        <a
          class={`block ${
            url == item.frontmatter.url.pathname ? "text-pinky-unicorny font-bold" : ""
          }`}
          href={item.frontmatter.url.pathname}
        >
          {item.frontmatter.navigation.label || item.frontmatter.title}
        </a>
      ))}
    </li>
  ))}
</ul>
