---
import { Article } from "$data/articles"
import { readableDate } from "../utils"

export interface Props {
  article: Article
}

const { article } = Astro.props
---

<section class="mb-3">
  <a href={article.url}>
    <h4 class="inline-block m-0 text-xl">{article.title}</h4>
  </a>

  <div class="mb-2 text-creative-work text-sm">
    {readableDate(article.date)}
    ·
    {article.tags
      .map((tag) => <a href="{ '/articles/tags/' + tag}">{tag}</a>)
      .reduce((prev, curr) => (prev === null ? [curr] : [prev, ", ", curr]))}
  </div>

  {article.tagline || null}
</section>
