---
    import Article from '../data/articles.ts'

    export interface Props {
        article: Article;
    }

    const { article } = Astro.props
---

<section class="mb-3">
    <a href="{ article.link }">
        <h4 class="inline-block m-0 text-xl">{ article.data.title }</h4>
    </a>

    <div class="mb-2 text-creative-work text-sm">
        { article.data.dateString }
        ·
        {
            article.data.tags
              .map(tag => (<a href="{ '/articles/tags/' + tag}">{tag}</a>))
              .reduce((prev, curr) => prev === null ? [curr] : [prev, ', ', curr])
        }
    </div>

    { article.data.tagline || null }
</section>
