---
---

<!-- TODO: Create a better experience for people without JS and when it's still loading -->
<div id="catalogue">
  <span id="catalogueCount" class="block text-right mb-1">0 elements</span>
  <div id="catalogueContent" class="flex gap-[0.88975rem] flex-wrap"></div>
</div>
<script defer src={Astro.resolve("../scripts/catalogue.js")}></script>
