---

const { item, includeTags } = Astro.props
---
<header class="mb-4 mt-4">
    <h1 class="text-[3.5rem] mb-4 mt-0 leading-none">{ item.data.title }</h1>
    { item.data.tagline &&
    <h2 class="text-xl m-0 relative top-[-5px]">{item.data.tagline}</h2>
    }
    { includeTags &&
        <div class="text-creative-work">
            { item.data.dateString }
            ·
            {
                item.data.tags
                .map(tag => (<a href="{ '/articles/tags/' + tag}">{tag}</a>))
                .reduce((prev, curr) => prev === null ? [curr] : [prev, ', ', curr])
            }
        </div>
    }
</header>
