---
import Socials from "$components/Socials.astro"
const menu = ["Projects", "Articles", "Wiki", "Catalogue"]
---

<header class="px-4 sm:px-0 py-[.8rem] flex justify-center">
  <section class="w-header flex justify-between">
    <div class="flex items-center">
      <h1 class="m-0 inline-block">
        <a class="header-link" href="/">Erika 🌺</a>
      </h1>

      <nav class="hidden ml-2 sm:inline-block">
        {menu.map((item) => (
          <a class="header-link" href={`/${item.toLowerCase()}`}>
            {item}
          </a>
        ))}
      </nav>
    </div>

    <Socials classes="hidden sm:flex" />
  </section>
</header>
