---
import type { ImageMetadata } from "astro";
import md from "markdown-it";
import type { Props as ImageProps } from "./Image.astro";
import Image from "./Image.astro";

type Props = Omit<ImageProps, "src"> & {
  src: Promise<{ default: ImageMetadata }>;
  caption?: string;
};

let { alt, caption } = Astro.props;

if (caption) {
  caption = md({}).renderInline(caption);
}

const src = (await Astro.props.src).default;
---

<figure>
  <a href={src.src}>
    <Image src={src} alt={alt} />
  </a>
  {caption && <figcaption set:html={caption} />}
</figure>
