<div class="w-[200px] h-[388px]">
  <div class="h-[300px] bg-fin-lanka animate-pulse"></div>
  <span class="block bg-fin-lanka animate-pulse h-[24px] mt-2"></span>
  <span class="w-2/4 block bg-fin-lanka animate-pulse h-[24px] mt-2"></span>
</div>
