<div class="text-right mb-2">
  <span class="catalogueCount" class="mr-4">Loading...</span>
  <button class="cataloguePageDown" disabled>{"<"}</button>
  <button class="cataloguePageUp" disabled>{">"}</button>
</div>
