---
import { CatalogueType } from "$data/catalogue"

const types = Object.values(CatalogueType)

function capitalizeFirstLetter(string: string) {
  return string.charAt(0).toUpperCase() + string.slice(1)
}
---

<div id="filters" class="w-index mx-auto flex gap-x-4">
  <label>
    Name:
    <input type="text" id="search-input" class="filter" />
  </label>
  <label>
    Type:
    <select id="type-select" class="filter">
      <option value="">All</option>
      {types.map((type) => <option value={type}>{capitalizeFirstLetter(type)}</option>)}
    </select>
  </label>
</div>
