@font-face {
	font-family: "IBM Plex";
	font-weight: 1 900;
	font-display: optional;
	src: url(/assets/fonts/IBMPlexResult.woff2) format("woff2");
}

html {
	background-color: #f5f5f5;
	font-family:
		"IBM Plex",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica Neue,
		fallback-arial,
		Arial,
		Noto Sans,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		Segoe UI Symbol,
		"Noto Color Emoji";
	color: #463539;
	height: 100%;
}

form,
#success {
	margin: 0 auto;
	width: min(880px, 100%);
	padding: 1em;
}

#success-buttons {
	display: flex;
	gap: 1em;
}

#success-buttons a {
	cursor: pointer;
	border: 1.5px solid #463539;
	border-radius: 0.5em;
	padding: 1em;
	color: black;
	text-decoration: none;
	background-color: rgb(239, 239, 239);
}

#success-buttons a:hover {
	background-color: rgb(223, 223, 223);
}

form {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

#type-name {
	display: flex;
	position: relative;
}

#type-name #type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right-width: 1px;
}

#type-name #name {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	flex: 1;
}

input[type="date"] {
	width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	border-width: 1.5px;
	border-color: #463539;
	border-radius: 0.5em;
	padding: 1em;
}

#rating-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	font-size: 3em;
	gap: 0.25em;
}

#rating-list label {
	margin-bottom: 0;
}

#date-comment {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	gap: 1em;
}

#date-source {
	display: flex;
	gap: 1em;
	max-width: 100%;
	flex-wrap: wrap;
}

#source-id {
	background-color: #d8d8d8;
}

#date-comment div:nth-child(2) {
	min-width: 0;
	flex: 1;
}

#date-comment div:nth-child(3) {
	width: 100%;
}

#date-comment div:nth-child(3) select {
	width: 100%;
}

#confirm-submit {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#confirm-submit div:nth-child(2) {
	min-width: 0;
}

textarea {
	width: 100%;
	resize: vertical;
	height: calc(100% - 32px);
}

#comment-textarea {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

label {
	display: block;
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: 0.25em;
}

#date-header {
	display: flex;
	justify-content: space-between;
}

#no-date {
	width: 19px;
	height: 19px;
	top: 2px;
	position: relative;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	filter: grayscale(85%);
}

input[type="radio"]:hover + label {
	filter: grayscale(40%);
	cursor: pointer;
}

input[type="radio"]:checked + label {
	filter: grayscale(0%);
	font-size: 1.4em;
}

#submit {
	padding: 16px 50px;
	width: 100%;
}

.loader {
	width: 32px;
	height: 32px;
	border: 3.5px solid #463539;
	border-bottom-color: white;
	border-radius: 50%;
	animation: rotation 1s linear infinite;
	position: absolute;
	right: 12px;
	top: calc(50% - 16px);
	display: none;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#skip-ci-div {
	display: flex;
	justify-content: end;
	gap: 0.5em;
	margin-top: -1em;
}

#skip-ci-div input {
	width: 1.5em;
	height: 1.5em;
}

@media screen and (min-width: 1024px) {
	#date-comment {
		flex-direction: row-reverse;
	}

	#date-source {
		flex-direction: column;
	}

	#date-comment div:nth-child(2) {
		flex: 1;
	}

	#confirm-submit {
		flex-direction: row;
	}
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	-moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
	tab-size: 4; /* 3 */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
	height: 100%;
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	max-width: 100%;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}
