---
import Header from "$components/layout/Header.astro"
import MobileMenu from "$components/layout/MobileMenu.astro"
import Socials from "$components/layout/Socials.astro"
import { getBaseSiteURL } from "$utils"
import { Sprite } from "astro-icon"
import "src/assets/style/prin.css"

export interface Props {
  title?: string
  description?: string | undefined
}

const { title, description } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="preload"
      href="/assets/fonts/cantarell-bold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/cantarell-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    {
      import.meta.env.PROD ?? (
        <link
          rel="preload"
          href="/chunks/MobileMenuToggle.astro_astro_type_script_index_0_lang.fa2f44e8.js"
          as="script"
          crossorigin
        />
      )
    }

    <title>{title ? `${title} - Erika` : "Erika"}</title>
    <meta name="description" content={description ? description : "My personal website"} />
    <meta property="og:title" content={title ? `${title} - Erika` : "Erika"} />
    <meta property="og:description" content={description ? description : "My personal website"} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="erika.florist" />

    <meta property="og:image" content={getBaseSiteURL() + "social-card.png"} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={getBaseSiteURL() + "social-card.png"} />

    <link rel="canonical" href={canonicalURL} />
    <meta property="og:url" content={canonicalURL} />

    <script>
      import "../assets/scripts/main.ts"
    </script>
  </head>
  <body>
    <Sprite.Provider>
      <div id="app" class="bg-baltic-sea">
        <Header />

        <main class="px-6 lg:px-0">
          <slot />
        </main>

        <footer class="px-5 sm:px-0 py-6 flex justify-center leading-tight bg-darker-skylines">
          <section class="flex justify-between w-footer">
            <Socials />

            <div>
              Powered by <a href="https://astro.build/">Astro</a><br />
              <a href="https://github.com/Princesseuh/erika.florist">Source Code</a><br />
              <a href="/settings/">Settings</a>
            </div>
          </section>
        </footer>

        <MobileMenu />
      </div>
    </Sprite.Provider>
  </body>
</html>
