---
import Header from "$components/Header.astro"
import Socials from "$components/Socials.astro"
/* import { CSSComponent } from "astro-css-components"
import { SocialImage } from "astro-social-images/index.js" */

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="stylesheet" href={Astro.resolve("../theme/css/tailwind.css")} />

    <title>{title ? `${title} - Princesseuh` : "Princesseuh"}</title>

    <!--     <SocialImage
      backgroundColor="#28262c"
      images={[{ url: "public/resized-social-card.png", attributes: { top: 375, left: 900 } }]}
      texts={// prettier-ignore
      [
        { content: title ? `${title}` : "Princesseuh", attributes: { x: "55", y: "105", "font-size": "70px", fill: "#fefffe" } },
        { content: description, attributes: { x: "50", y: "325", "font-size": "40px", fill: "#fefffe" } }
      ]} />

    <CSSComponent getForURL /> -->

    <script type="module" defer src={Astro.resolve("../scripts/main.ts")}></script>
  </head>
  <body>
    <div id="app" class="bg-baltic-sea">
      <Header />

      <main class="px-6 lg:px-0">
        <slot />
      </main>

      <footer class="px-6 sm:px-0 py-6 flex justify-center leading-tight bg-darker-skylines">
        <section class="flex justify-between w-footer">
          <Socials />

          <div>
            Powered by <a href="https://astro.build/">Astro</a><br />
            <a href="https://github.com/Princesseuh/princesseuh.dev">Source Code</a><br />
            <a href="/settings">Settings</a>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>
