---
import BaseLayout from "$layouts/BaseLayout.astro"
import WikiNavigation from "$components/WikiNavigation.astro"
import ContentHeader from "$components/ContentHeader.astro"
import WikiTOC from "$components/WikiTOC.astro"
import { Markdown } from "astro/components"

const { wikiItem } = Astro.props
---

<BaseLayout>
  <section class="gap-[3%] grid grid-cols-wiki mx-auto my-0 w-wiki">
    <aside class="mb-4 duration-100 ease-linear mt-10 transition-opacity">
      <WikiNavigation />
    </aside>

    <article class="post">
      <ContentHeader item={wikiItem} includeTags={false} />
      <Markdown content={wikiItem.astro.source} />
    </article>

    <aside class="mt-10 mb-4 transition-opacity duration-100 ease-linear">
      {wikiItem.astro.headers.length > 0 && <WikiTOC headers={wikiItem.astro.headers} maxDepth={wikiItem.maxDepthTOC || 4} />}
    </aside>
  </section>
</BaseLayout>
